# Example environment variables
POSTGRES_USER=youruser
POSTGRES_PASSWORD=yourpassword
POSTGRES_DB=yourdb
RABBITMQ_USER=sentiment
RABBITMQ_PASSWORD=password
RABBIT_URL=amqp://sentiment:password@localhost:5672/
REDIS_URL=redis://localhost:6379/0
JWT_SECRET_KEY=your_jwt_secret_key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
JWT_ISSUER=grievance-auth-service
JWT_AUDIENCE=grievance-api